<div>
<div class="view-container">
<div *ngFor="let version of versions; let i = index" class="contract-version">
    <mat-card class="version-card">
        <mat-card-header>
            <mat-card-title>Version #{{ i }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="details-container">
                <div class="details-row">
                    <div class="details-label">Unique number:</div>
                    <div class="details-value">{{ version.uniqueNumber }}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Version start date:</div>
                    <div class="details-value">{{ version.versionStartDate }}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Termination Date:</div>
                    <div class="details-value">{{ version.terminationDate }}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Expiration date:</div>
                    <div class="details-value">{{ version.expirationDate }}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Salary:</div>
                    <div class="details-value">{{ version.salary }}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Fraction:</div>
                    <div class="details-value">{{ version.fraction }}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Working days:</div>
                    <div class="details-value">{{ version.workingDays }}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Vacation days:</div>
                    <div class="details-value">{{ version.vacationDays }}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Expires:</div>
                    <div class="details-value">{{ version.expires }}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Position:</div>
                    <div class="details-value">{{ version.position.positionName }}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Department:</div>
                    <div class="details-value">{{ version.department.departmentName }}</div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="warn" (click)="onDeleteVersion(version.id)">Delete</button>
          </mat-card-actions>
    </mat-card>
    </div>
    <mat-card class="add-version-card" [routerLink]="['version-add', contractId]">
        <mat-card-header class="add-version-card-header">
          <mat-card-title>
            <mat-icon>add</mat-icon>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
</div>
</div>