<h2>Please enter the identity document details</h2>
<form [formGroup]="addIdForm" (submit)="onCreateId()" class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
            @for (type of types; track type) {
              <mat-option [value]="type">{{type}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Issue date</mat-label>
        <input matInput value="" formControlName="issueDate">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Expiration date</mat-label>
        <input matInput value="" formControlName="expirationDate">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Issuer</mat-label>
        <input matInput value="" formControlName="issuer">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Series</mat-label>
        <input matInput value="" formControlName="series">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Number</mat-label>
        <input matInput value="" formControlName="number">
    </mat-form-field>
    <div class="example-half-width">
        <button mat-stroked-button type="submit">Add identity document</button>
    </div>
</form>